<section class="designedByUs " id="designedByUs">
  <div class="hero-image" alt="picture of purple dresses with text overlayed and a button">
    <div class="hero-text">
      <h1>Designed by us. <div class="black">Inspired by you.</div></h1>
      <p class="hidden-sm-down">We designed 25 dresses that break the mold in bridesmaid fit, style, and comfort. </p>
      <button class="btn btn-primary black-btn hidden-sm-down">Shop our exclusive collection</button>
    </div>
  </div>
  <!-- first description -->
  <div class="row perfectMatch hidden-sm-down">
    <div class="col">
      <h3 class="text-center">A perfect Match</h3>
      <p class="text-center">for every maid.</p>
    </div>
    <div class="col">
      <h3 class="text-center">Easy Returns</h3>
      <p class="text-center">to find your fit.</p>
    </div>
    <div class="col">
      <h3 class="text-center">Something New</h3>
      <p class="text-center">and exclusive for you.</p>
    </div>
  </div>
  <!-- row -->
  <div class="hidden-md-up">
      <div class="row">
        <div class="offset-2 col-8 text-center">
          <p class="hidden-md-up designedByUsMobile">We designed 25 dresses that break the mold in fit, style, and comfort. </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="#" class="btn btn-primary btn-pink border-0 rounded-0">
            <span>Shop exclusive dresses</span>
          </a>
        </div>
      </div>
  <hr>
</section>
