<section class="featuredLooks " id="featuredLooks">
  <div class="row">
    <div class="col text-center">
      <h1>Featured Looks</h1>
      <p class="text-center hidden-sm-down">Checkout out favorite ways to mix and match these dresses!</p>
      <p class="hidden-med-up" id="featuredMobile-text">Get inspired with mix  match styles.</p>
      <img src="{{site.baseurl}}/img/nowneutrals/bridesmaids.png" class="img-fluid hidden-md-up" alt="Now Neutral Image">
    </div>
  </div>
  <!-- row -->
  <div class="row hidden-sm-down">
    <div class="col-4">
      <div class="featuredLooks-text nowneutrals-text">
        <h1>Now Neutrals</h1>
        <a href=#nowNeutrals><i class="fa fa-chevron-down downArrow" aria-hidden="true"></i></a>
      </div>
      <div class="nowneutrals-image featured-image center-block" alt="image of dress with Now Neutral line link inside">
      </div>
    </div>
    <!-- col -->
    <div class="col-4">
      <div class="featuredLooks-text">
        <h1>Perfect Pair</h1>
        <a href=#perfectPair><i class="fa fa-chevron-down downArrow" aria-hidden="true"></i></a>
      </div>
      <div class="perfectpair-image featured-image center-block" alt="image of dress with Perfect Pair line link inside">
      </div>
    </div>
    <!-- col -->
    <div class="col-4">
      <div class="featuredLooks-text">
        <h1>Gold Rush</h1>
        <a href=#goldRush><i class="fa fa-chevron-down downArrow" aria-hidden="true"></i></a>
      </div>
      <div class="goldrush-image featured-image center-block" alt="image of dress with Gold Rush line link inside">
      </div>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
  <hr>
</section>
