<!-- gold rush -->
<section class="goldRush " id="goldRush">
  <div class="row">
    <div class="col-md-10 col-sm-11 nowNeutralsSection">
      <img src="{{site.baseurl}}/img/goldrush/laughingAtTable.png" class="img-fluid hidden-md-up" id="perfectTeam" alt="Responsive image">
      <h2 class="hidden-sm-down">Gold Rush</h2>
      <h2 class="hidden-md-up">Good as Gold</h2>
      <p class="hidden-sm-down">Universally flattering, feminine, and fun, this elegant metallic is having a Midas moment. </p>
      <p class="hidden-md-up">Universally flattering, feminine, and fun, gold is having a Midas moment. </p>
    </div>
  </div>
  <!-- row -->
  <div class="row hidden-sm-down">
    <div class="col-3">
      <img src="{{site.baseurl}}/img/goldrush/bridesmaid1.png" class="img-fluid" alt="Bridesmaid smiling in gold dress">
    </div>
    <!-- col -->
    <div class="col-3">
      <img src="{{site.baseurl}}/img/goldrush/bridesmaid2.png" class="img-fluid" alt="Bridesmaid with bouquet and gold dress">
    </div>
    <div class="col-3 text-center align-self-center">
      <p class="goldTip">Style Watch</p>
      <p class="ppQuote">Let each bridesmaid choose a color and fabric that truly compliments her indivdual style and complexion.</p>
    </div>
    <div class="col-3">
      <img src="{{site.baseurl}}/img/goldrush/bridesmaids.png" class="img-fluid" alt="closeup of bridesmaid dresses">
    </div>
  </div>
  <div class="row hidden-md-up">
    <div class="col-6">
      <img src="{{site.baseurl}}/img/goldrush/bridesmaid1Mobile.png" class="img-fluid" alt="Bridesmaid smiling in gold dress">
    </div>
    <div class="col-6">
      <img src="{{site.baseurl}}/img/goldrush/bridesmaidsMobile.png" class="img-fluid" alt="Bridesmaid with bouquet and gold dress">
    </div>
  </div>
  <!-- row -->
  <div class="row hidden-sm-down">
    <div class="col-5">
      <img src="{{site.baseurl}}/img/goldrush/goldPlate.png" class="img-fluid" alt="Table with gold wedding decorations">
    </div>
    <div class="col-7 bridesmaids">
      <img src="{{site.baseurl}}/img/goldrush/laughingAtTable.png" class="img-fluid" alt="Bridesmaids laughing at table">
    </div>
  </div>
  <!-- row -->
  <div class="row hidden-sm-down">
    <div class="col">
      <h3 class="getTheLook">Get the look:</h3>
    </div>
  </div>
  <!-- row -->
  <div class="row">
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getGold/one.png" class="img-fluid" alt="Dress 1">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Madeline </p>
        <p class="pink">See More Colors+</p>
        <p>$150</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getGold/two.png" class="img-fluid" alt="Dress 2">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Poppy </p>
        <p class="pink">See More Colors+</p>
        <p>$150</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getGold/three.png" class="img-fluid" alt="Dress 3">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Madison </p>
        <p class="pink">See More Colors+</p>
        <p>$150</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard ">
        <img src="{{site.baseurl}}/img/getGold/four.png" class="img-fluid" alt="Dress 4">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Sophia </p>
        <p class="pink">See More Colors+</p>
        <p>$150</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getGold/five.png" class="img-fluid" alt="Dress 5">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Harlow </p>
        <p class="pink">See More Colors+</p>
        <p>$150</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="#" class="btn btn-primary btn-pink border-0 rounded-0">
    <i class="fa fa-heart" aria-hidden="true"></i>
    <span>Save this line-up</span>
  </a>
  </div>
  <hr>
</section>
<!-- gold rush -->
