<nav class="navbar-nav navbar-toggleable-sm navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarTogglerLeft" aria-controls="navbarTogglerLeft" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerRight" aria-controls="navbarTogglerRight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-cog"></span>
    </button>
    <a class="navbar-brand mx-auto hidden-sm-down" href="#">
        <img src="{{site.baseurl}}/img/wwlogo.png" class="wwLogo" alt="Weddington Way logo">
    </a>
    <a class="navbar-brand mx-auto hidden-md-up" href="#">
        <img src="{{site.baseurl}}/img/wwlogo.png" class="wwLogoSmall" alt="Weddington Way logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerRight">
      <ul class="ml-auto">
        <form class="form-inline">
          <a class="nav-link" href="#">Sign-Up/Login</a>
          <input class="form-control mr-sm-2" type="text" placeholder="Search products            &#XF002">
        </form>
      </ul>
    </div>
    <div class="hidden-md-up">
      <div class="collapse navbar-collapse" id="navbarTogglerLeft">
        <!-- Main Nav -->
        <ul class="navMobile">
          <li class="nav-item">
            <a class="nav-link" href="#">Bridesmaids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Brides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wedding Party</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rentals<div class="new"> New!</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Real Weddings</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="#">Create a Showroom <i class="fa fa-heart heart" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
