<section class="nowNeutrals " id="nowNeutrals">
  <div class="row">
    <div class="col-10 nowNeutralsSection">
      <h2>Now Neutrals</h2>
      <p class="hidden-sm-down">Nothing says chic like a palette of neutral shades.Let each bridesmaid choose the tone that suits her best, and don't be afraid to add some sparkle. </p>
      <p class="hidden-md-up">Nothing says chic like a palette of neutral shades.</p>
    </div>
  </div>
  <div class="row hidden-sm-down">
    <div class="col-6">
      <img src="{{site.baseurl}}/img/nowneutrals/tea.png" class="img-fluid" alt="Bridesmaids in Now Neutral dresses">
    </div>
    <div class="col-3 text-center">
      <h4 class="quotes">“</h4>
      <p class="nowNeutralsQuote">I didn't feel like just a bridesmaid... I felt timelessly chic and utterly classic.</p>
      <h4 class="quotes">”</h4>
      <p class="quoteCaroline">~ Caroline Acree</p>
    </div>
    <div class="col-3">
      <img src="{{site.baseurl}}/img/nowneutrals/bouquet.png" class="img-fluid" alt="Closeup of Now Neutral dress">
    </div>
  </div>
  <div class="row hidden-md-up">
    <div class="col-6">
      <img src="{{site.baseurl}}/img/nowneutrals/bouquetMobile.png" class="img-fluid" alt="Closeup of Now Neutral dress">
    </div>
    <div class="col-6">
      <img src="{{site.baseurl}}/img/nowneutrals/teaMobile.png" class="img-fluid" alt="Bridesmaid at table with tea">
    </div>
  </div>
  <!-- row -->
  <div class="row hidden-sm-down">
    <div class="col-5">
      <img src="{{site.baseurl}}/img/nowneutrals/table.png" class="img-fluid" alt="Table with decorations from Now Neutral">
    </div>
    <div class="col-7 bridesmaids">
      <img src="{{site.baseurl}}/img/nowneutrals/bridesmaids.png" class="img-fluid" alt="Bridesmaids in Now Neutral dresses">
    </div>
  </div>
  <!-- row -->
  <div class="row hidden-sm-down">
    <div class="col">
      <h3 class="getTheLook">Get the look:</h3>
    </div>
  </div>
  <!-- row -->
  <div class="row">
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getTheLookNeutrals/one.png" class="img-fluid" alt="tan dress">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Madeline </p>
        <p class="pink">See More Colors+</p>
        <p>$150</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getTheLookNeutrals/two.png" class="img-fluid" alt="gold sparkling dress">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Poppy </p>
        <p class="pink">See More Colors+</p>
        <p>$175</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getTheLookNeutrals/three.png" class="img-fluid" alt="tan pattern dress">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Madison </p>
        <p class="pink">See More Colors+</p>
        <p>$175</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard" id="sophia">
        <img src="{{site.baseurl}}/img/getTheLookNeutrals/four.png" class="img-fluid" id="sophiaMobile" alt="tan dress 2">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Sophia </p>
        <p class="pink">See More Colors+</p>
        <p>$150</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getTheLookNeutrals/five.png" class="img-fluid" alt="gold sparkling dress 2">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Harlow </p>
        <p class="pink">See More Colors+</p>
        <p>$175</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="#" class="btn btn-primary btn-pink border-0 rounded-0">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <span>Save this line-up</span>
    </a>
  </div>
  <hr>
</section>
<hr class="mobileLine hidden-md-up">
