<section class="perfectPair " id="perfectPair">
  <div class="row">
    <div class="col-10 nowNeutralsSection">
      <img src="{{site.baseurl}}/img/perfectpair/entireTeam.png" class="img-fluid hidden-md-up" id="perfectTeam" alt="Responsive image">
      <h2>Perfect Pair</h2>
      <p class="hidden-sm-down">For a playful pop of color, pick two complimentary shades for your bridal party. Two tones are twice as nice!</p>
      <p class="hidden-md-up">For a playful pop of color, pick two complimentary colors.</p>
    </div>
  </div>
  <!-- row -->
  <div class="row hidden-sm-down">
    <div class="col-3">
      <img src="{{site.baseurl}}/img/perfectpair/twoBouquets.png" class="img-fluid" alt="Responsive image">
    </div>
    <!-- col -->
    <div class="col-3 text-center align-self-center">
      <p class="ppTip">Stylist Tip</p>
      <p class="ppQuote">Let each bridesmaid choose a color and fabric that truly compliments her indivdual style and complexion.</p>
    </div>
    <div class="col-3">
      <img src="{{site.baseurl}}/img/perfectpair/laughingBouquet.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-3">
      <img src="{{site.baseurl}}/img/perfectpair/twoBridesmaids.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <!-- row -->
  <div class="row hidden-md-up">
    <div class="col-6">
      <img src="{{site.baseurl}}/img/perfectpair/twoBridesmaidsMobile.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-6">
      <img src="{{site.baseurl}}/img/perfectpair/laughingBouquetsMobile.png" class="img-fluid" alt="Responsive image">
    </div>
  </div> <!-- row -->
  <div class="row hidden-sm-down">
    <div class="col-7 bridesmaids">
      <img src="{{site.baseurl}}/img/perfectpair/entireTeam.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-5">
      <img src="{{site.baseurl}}/img/perfectpair/cuteMilkshakes.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <!-- row -->
  <div class="row hidden-md-down">
    <div class="col">
      <h3 class="getTheLook">Get the look:</h3>
    </div>
  </div>
  <!-- row -->
  <div class="row">
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getPerfectPair/one.png" class="img-fluid" alt="Responsive image">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Madeline </p>
        <p class="pink">See More Colors+</p>
        <p>$129</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getPerfectPair/two.png" class="img-fluid" alt="Responsive image">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Poppy </p>
        <p class="pink">See More Colors+</p>
        <p>$129</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getPerfectPair/three.png" class="img-fluid" alt="Responsive image">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Madison </p>
        <p class="pink">See More Colors+</p>
        <p>$150</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard ">
        <img src="{{site.baseurl}}/img/getPerfectPair/four.png" class="img-fluid" alt="Responsive image">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Sophia </p>
        <p class="pink">See More Colors+</p>
        <p>$150</p>
      </div>
    </div>
    <div class="col-md-3 colOverride3 col-sm-6">
      <div class="imgCard">
        <img src="{{site.baseurl}}/img/getPerfectPair/five.png" class="img-fluid" alt="Responsive image">
        <a href=# class="link" ><i class="fa fa-heart-o heartAnimate" aria-hidden="true"></i></a>
        <p class="name"> Weddington Way Harlow </p>
        <p class="pink">See More Colors+</p>
        <p>$175</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="#" class="btn btn-primary btn-pink border-0 rounded-0">
    <i class="fa fa-heart" aria-hidden="true"></i>
    <span>Save this line-up</span>
  </a>
  </div>
  <hr>
</section>
