<section class="carouselSampleDesigns " id="sampleDesigns">
  <div class="row">
    <div id="wrapper">
      <span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules">
        <svg class="chevron" xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"
          width="23px" height="45px">
          <path class="chevronProp"
          d="M20.460,0.172 C19.379,1.229 0.000,22.979 0.000,22.979 L20.460,45.000 C20.460,45.000 23.451,44.685 22.821,42.641 C22.192,40.596 4.722,22.979 4.722,22.979 C4.722,22.979 22.642,2.844 22.821,2.532 C23.594,1.190 21.276,-0.624 20.460,0.172 Z"/>
        </svg>
      </span>
      <div class="module-section clearfix">
        <!-- <button class="btn arrow-guides fa-chevron-left"></button> -->
        <ul class="carousel pl-4 carouselMobile" id="content">

          <li class="cardInfo">
            <img src="{{site.baseurl}}/img/carousel/darkPink.png">
          </li>
          <li class="cardInfo">
            <img src="{{site.baseurl}}/img/carousel/lightPinkShort.png">
          </li>
          <li class="cardInfo">
            <img src="{{site.baseurl}}/img/carousel/lightPinkLong.png">
          </li>
          <li class="cardInfo">
            <img src="{{site.baseurl}}/img/carousel/summerTan.png">
          </li>
          <li class="cardInfo ">
            <img src="{{site.baseurl}}/img/carousel/tanShort.png">
          </li>
          <li class="cardInfo">
            <img src="{{site.baseurl}}/img/carousel/longTurqoise.png">
          </li>
          <li class="cardInfo">
            <img src="{{site.baseurl}}/img/carousel/shortTurqoise.png">
          </li>
          <li class="cardInfo">
            <img src="{{site.baseurl}}/img/carousel/shortPurple.png">
          </li>
          <li class="cardInfo">
            <img src="{{site.baseurl}}/img/carousel/shortPurpleStrap.png">
          </li>
        </ul>
      </div>
      <!--end of module-section-->
      <span id="controlR" class="right-controls" role="button" aria-label="See Previous Modules">
        <svg class="chevron" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          width="23px" height="46px">
          <path class="chevronProp"
          d="M2.540,44.828 C3.621,43.772 23.000,22.021 23.000,22.021 L2.540,0.000 C2.540,0.000 -0.451,0.315 0.179,2.360 C0.808,4.404 18.278,22.021 18.278,22.021 C18.278,22.021 0.358,42.157 0.179,42.469 C-0.594,43.810 1.724,45.624 2.540,44.828 Z"/>
        </svg>
      </span>
      <!-- <button class="btn arrow-guides-right fa-chevron-right"></button> -->
    </div>
    <!-- wrapper -->
  </div>
  <!-- row -->
  <div class="row hidden-md-up">
    <div class="col text-center">
      <a href="#" class="btn btn-primary btn-pink border-0 rounded-0">
        <span>see all styles</span>
      </a>
    </div>
  </div>
</section>
