<div class="row singleSpaceRow hidden-sm-down">
  <p>Free U.S. Shipping on orders over $150*</p>
</div>
<!-- Main Nav -->
<ul class="nav mr-auto hidden-sm-down">
  <li class="nav-item">
    <a class="nav-link" href="#">Bridesmaids</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Brides</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Wedding Party</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Rentals<div class="new"> New!</div></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Real Weddings</a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link" href="#">Create a Showroom <i class="fa fa-heart heart" aria-hidden="true"></i></a>
  </li>
</ul>
<hr>
