<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body>
  {% include navbar.html %}
  <!-- Main Content -->
  <div class="container">
    {% include subNav.html %}
    {% include designedByUs.html %}
    {% include sampleCarouselDesigns.html %}
    {% include featuredLooks.html %}
    {% include nowNeutral.html %}
    {% include perfectPair.html %}
    {% include goldRush.html %}
    {% include models.html %}
  </div>
  <!-- container -->
</body>

</html>
{% include jsScripts.html %}
